<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Entretien technique</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3" id="#top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('admin_index') }}">
                Blog
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="{{ path('admin_show_categories') }}" class="dropdown-item">Voir les Catégories</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Posts
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><h6 class="dropdown-header">Posts</h6></li>
                            <li><a href="{{ path('admin_add_post') }}" class="dropdown-item">Ajouter posts</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.fullName }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <body>
        <main class="mb-5">
            <div class="container py-5">
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
